body, html {
    margin: 0px;
    padding:0px;
    overflow: hidden;
    height:100%;
    width:100%;
    position:absolute;
    background-color:#000;
    top:0px;
    left:0px;
}

#fullscreen-button {
  position:absolute;
  top:0px;
  left:0px;
  border:0;
  background-color:#444;
  margin:0px;
  box-sizing: border-box;
}

#webgl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cam-container {
    width:50%;
    position:absolute;
}

.cam-container:before {
    content : '';
    display:block;
    padding-top:75%; // ratio of 4/3
}

#centerline {
    position:absolute;
    background-color:#000;
    left:calc(50% - 2px);
    width:4px;
    height:100%;
    top:0px;
}

.cam-container video {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
}

#leftvideo {
    left:0px;
}
#rightvideo {
    right:0px;
}